* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
}
li {
  list-style: none;
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}
header .logo {
  width: 150px;
  height: 50px;
  background-image: url("../static/image/대지\ 1@4x-8.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

header > .menu {
  width: 50%;
  margin-right: 50px;
}
header > .menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .menu > ul > a {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}

header > .menu > ul > a:hover {
  color: black;
}

#wrap {
  width: 100%;
  height: 100vh;
}
#wrap > section {
  width: 100%;
}
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../static/image/lautaro-andreani-xkBaqlcqeb4-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

#project .project-name {
  color: white;
  font-weight: 700;
  font-size: 40px;
  font-style: italic;
}

#project .project-info-1 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0 20px;
}

#project .project-info-2 {
  color: white;
  margin: 20px 0 20px;
}

/* 김윤수 css 여백 등 수정 */
#team {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  height: 600px;
}

.team-info img {
  width: 300px;
  margin: 0 auto 0;
}

.team-info h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
}

.team-info .info-1 {
  margin: 10px;
  font-size: 20px;
}

.team-info .info-2 {
  margin: 10px;
  line-height: 1.5;
}

.team-promise {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-promise > .timetable {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  line-height: 2;
}
.team-promise > .timetable p {
  width: 550px;
  background-color: royalblue;
  margin: 20px auto 0;
  padding-bottom: 20px;
  border-radius: 30px;
  font-weight: 600;
  color: white;
}
#member {
  padding: 50px;
  background-color: rgba(0, 0, 255, 0.1);
}
.member-inner {
  width: 100%; /*소개 박스 잘림 방지*/
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
}

.member-inner h2 {
  margin-bottom: 20px;
}

.member-box {
  padding: 30px;
  display: flex;
  justify-content: space-between;

  max-width: 900px;
  width: 100%;
  /*min-width: 900px;*/
  margin: 0 auto;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.member-img {
  border-radius: 30px;
  max-width: 300px; /*이미지 크기 고정*/
  min-width: 300px;
  min-height: 400px;
  max-height: 400px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.member-img > img {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member-txt-box {
  max-width: 500px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.member-txt-box > div {
  margin: 10px;
  width: 90%; /*자기소개 잘림 방지*/
  height: 33.3333%;
}

.member-txt-box > div h3 {
  margin-bottom: 5px;
}

#member .white-box {
  background-color: #fff;
  white-space: normal;
}

.member-style .blogLink {
  cursor: pointer;
  width: 100px;
  height: 25px;
  background-color: royalblue;
  color: white;
  margin: 0 auto 0;
  border-radius: 15px;
  text-align: center;
}

.member-style .blogLink:hover {
  border: 1px solid royalblue;
  color: royalblue;
  background-color: white;
}


#reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightcyan;
}
.reaction-input-inner {
  display: flex;
  flex-direction: column;
}
.reaction-input-inner > div {
  display: inline-block;
  background-color: #fff;
  margin: 20px 0;
}
.reaction-output {
  width: 100%;
  background-color: #eee;
}
.comment-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100px;
  margin: 20px auto;
  background-color: #fff;
}
.comment-box > div {
  width: 33.3333%;
  border: 1px solid #eee;
}
footer {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

#form {
  height: 310px;
  /*margin-top: 10px;*/
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.1);

  max-width: 800px;
  width: 95%;
  margin: 50px auto 50px auto;

  border-radius: 20px;
  padding: 20px;
  font-size: 14px;
}

.formName,
.formFire,
.comment,
.formButton {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
}

.formButton:hover {
  font-weight: bold;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.formButton {
  background-color: white;
  color: black;
  margin: 0;
  margin-right: 10px;
}

.formMent {
  font-size: 20px;
  font-weight: bold;
  color: black;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  margin: 40px auto 0;
  font-size: 18px;
  width: 800px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

thead > tr > th {
  padding: 20px;
}

tr,
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.section {
  margin: 0;
  padding: 0;
}
.section input[id*="slide"] {
  display: none;
}
.section .slidelist {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
} /*슬라이드 가로배치*/
.section .slidelist > li > a {
  display: block;
  position: relative;
}
.section .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {
  display: none;
}
.section .left {
  left: 20px;
  background: url("https://cdn.pixabay.com/photo/2012/04/05/01/56/arrow-25834_640.png")
    center center / 100% no-repeat;
}
.section .right {
  right: 20px;
  background: url("https://cdn.pixabay.com/photo/2012/04/05/01/56/arrow-25832_640.png")
    center center / 100% no-repeat;
}
.section
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(1) {
  display: block;
}
.section
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(2) {
  display: block;
}
.section
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(3) {
  display: block;
}

/* 페이징 */ /*input 버튼 속성*/
.slide-pagelist {
  text-align: center;
  padding: 20px;
}
.slide-pagelist > li {
  display: inline-block;
  vertical-align: middle;
}
.slide-pagelist > li > label {
  display: block;
  padding: 8px 30px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 10px;
  cursor: pointer;
}
.section
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(1)
  > label {
  background: #999;
}
.section
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(2)
  > label {
  background: #999;
}
.section
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(3)
  > label {
  background: #999;
}


/* 좋아요 버튼 및 숫자 관련 스타일 */
.like button {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(220, 20, 60, 0.247);
  font-size: 20px;
  border: solid 1px transparent;
  margin-bottom: 20px;
}
.like button:hover {
  background-color: crimson;
}
.like span {
  font-size: 20px;
  color: white;
}
.like a {
  color: white;
  font-size: 20px;
}
.like {
  text-align: center;
}
