* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
}
li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
header > .logo {
  width: 150px;
  height: 50px;
  background-color: #fff;
}
header > .menu {
  width: 30%;
}
header > .menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap {
  width: 100%;
  height: 100vh;
}
#wrap > section {
  width: 100%;
}
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: tomato;
}
#team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: aquamarine;
}
.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  height: 50%;
}
.team-promise {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-promise > .timetable {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  background: #fff;
}
#member {
  background-color: lightpink;
}
.member-inner {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
.member-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  background-color: #eee;
}
.member-img {
  width: 300px;
  height: 400px;
  background-color: #000;
}
.member-txt-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.member-txt-box > div {
  height: 33.3333%;
}
#member .white-box {
  background-color: #fff;
}

#reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightcyan;
}
.reaction-input-inner {
  display: flex;
  flex-direction: column;
}
.reaction-input-inner > div {
  display: inline-block;
  background-color: #fff;
  margin: 20px 0;
}
.reaction-output {
  width: 100%;
  background-color: #eee;
}
.comment-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100px;
  margin: 20px auto;
  background-color: #fff;
}
.comment-box > div {
  width: 33.3333%;
  border: 1px solid #eee;
}
footer {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

#form {
  height: 350px;
  /*margin-top: 10px;*/
  overflow: hidden;

  background-color: gray;

  max-width: 800px;
  width: 95%;
  margin: 50px auto 0px auto;
  box-shadow: 0px 0px 3px 0px gray;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 20px;
  font-size: 14px;
}

.formName,
.formFire,
.review,
.formButton,
.formButton2 {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 10px;
}

.formMent {
  font-size: 20px;
  font-weight: bold;
  color: black;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  margin: 40px 0;
  font-size: 18px;
}
