<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{ 빡 🔥 코 }</title>
    <link rel="stylesheet" href="../static/main.css" />
    <script src="../static/main.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="logo"></div>
        <div class="menu">
          <ul>
            <a href="#team"><li>팀소개🧑🏼‍🎨</li></a>
            <a href="#promise"><li>응원하기🔥</li></a>
            <a href="#kys"><li>김윤수🐰</li></a>
            <a href="#jyg"><li>조윤건🐰</li></a>
            <a href="#peh"><li>박은희🐰</li></a>
            <a href="#ksa"><li>김선아🐰</li></a>
          </ul>
        </div>
      </header>
      <section id="project">
        <p class="project-info-1">nbcamp project No.1</p>
        <h1 class="project-name">지피지기면 백전백승</h1>
        <p class="project-info-2">
          한 주간 나를 알고 코딩을 알면서 배움의 기초를 다지고 vs code와 싸워
          이길것이다.
        </p>
      </section>
      <section id="team">
        <div class="team-info">
          <img src="../static/image/대지 1@4x-8.png" alt="logo" />
          <h2>{ 빡 🔥 코 }</h2>
          <p class="info-1">
            기본에 충실하게, 빡세게 코딩을 배워 코딩을 나의 색깔로 그려갑니다.
          </p>
          <p class="info-2">
            팀 { 빡코 } 는 비전공자 집단으로 한 주간 매일 오전은 각자 공부하는
            시간을 가지고 <br />한명의 낙오자 없이 모든 팀원이 우리 팀 프로젝트
            사이트의 코드를 설명할 수 있게 함께 연구합니다.
          </p>
        </div>
        <div class="team-promise">
          <h2>👉 우리팀의 약속</h2>
          <div class="timetable">
            <p>
              <br />1. 궁금한게 있으면 같이 함께 고민하며 집단지성을 활용합니다.
              <br />2. 본인이 알아낸 답을 공유해서 함께 성장합니다. <br />3.
              최선을 다해 참여합니다.
            </p>
          </div>
        </div>
      </section>
      <section id="member">
        <div id="kys">
          <div class="member-inner">
            <h2>김윤수(팀장)</h2>
            <div class="member-box">
              <div class="member-img">
                이쪽에 이미지를 bg로 등록 (img도 괜찮습니다)
              </div>
              <div class="member-txt-box">
                <div class="member-info">
                  <h3>자기소개</h3>
                  <p class="white-box">
                    이쪽에 자기소개 입력dmf ajdklfjaldknflkand;fl na;dnsndkl;a
                  </p>
                </div>
                <div class="member-strength">
                  <h3>자신의 장점</h3>
                  <p class="white-box">
                    이쪽에 자기소개 입력dmf ajdklfjaldknflkand;flkl;a
                  </p>
                </div>
                <div class="member-style">
                  <h3>협업 스타일(동물)</h3>
                  <p class="white-box">이쪽에 자기소개 입력dmf ajdksndkl;a</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="reaction">
        <div id="form">
          <h2 class="formMent">앞으로 멋진 개발자가 될 우리를 응원해줘.</h2>
          <input
            class="formName"
            id="name"
            type="text"
            placeholder="이름을 입력하세요"
          /><br />
          <select class="formFire" id="fire">
            <option value="" disabled selected>-- 에너지 --</option>
            <option value="5">🔥🔥🔥🔥🔥</option>
            <option value="4">🔥🔥🔥🔥</option>
            <option value="3">🔥🔥🔥</option>
            <option value="2">🔥🔥</option>
            <option value="1">🔥</option></select
          ><br />
          <textarea
            name="review"
            id="review"
            class="review"
            cols="100"
            rows="10"
            placeholder="응원 메시지를 남겨주세요."
          ></textarea
          ><br />
          <div class="formButtons">
            <input
              onclick="save_form()"
              class="formButton"
              type="submit"
              value="응원하기"
            />
            <input
              onclick="close_box()"
              class="formButton2"
              type="submit"
              value="닫기"
            />
          </div>
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            <th class="words" scope="col">닉네임</th>
            <th class="words" scope="col">응원 에너지🔥</th>
            <th class="words" scope="col">응원의 말</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>홍길동</td>
            <td>🔥🔥🔥</td>
            <td>코멘트</td>
          </tr>
          <tr>
            <td>임꺽정</td>
            <td>🔥🔥🔥🔥🔥</td>
            <td>코멘트</td>
          </tr>
          <tr>
            <td>세종대왕</td>
            <td>🔥🔥🔥🔥🔥</td>
            <td>코맨트</td>
          </tr>
        </tbody>
      </table>

      <footer>
        <h3>시작은 미미하나, 그 끝은 창대하리라</h3>
      </footer>
    </div>
  </body>
</html>
