<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{ 빡 🔥 코 }</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>    <!--    <link-->
    <!--      rel="stylesheet"-->
    <!--      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"-->
    <!--    />-->

    <!--    <link-->
    <!--      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
    <!--      rel="stylesheet"-->
    <!--      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
    <!--      crossorigin="anonymous"-->
    <!--    />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script src="../static/main.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="logo"></div>
        <div class="menu">
          <ul id="nav-bar">
            <a href="#team"><li>팀소개🧑🏼‍🎨</li></a>
            <a href="#reaction"><li>응원하기🔥</li></a>
            <a href="#김윤수"><li>김윤수🐰</li></a>
            <a href="#조윤건"><li>조윤건🐰</li></a>
            <a href="#박은희"><li>박은희🐰</li></a>
          </ul>
        </div>
      </header>
      <section id="project">
        <p class="project-info-1">nbcamp project No.1</p>
        <h1 class="project-name">지피지기면 백전백승</h1>
        <p class="project-info-2">
          한 주간 나를 알고 코딩을 알면서 배움의 기초를 다지고 vs code와 싸워
          이길것이다.
        </p>

                <!-- 좋아요 누적 버튼 기능!!(카카오프로필처럼)) -->
                <div class="like">
                  <button onclick="PlusLikeNum()" id="like-button">🔥</button>
                  </br>
                  <div class="LikeCount" id="likeArea">
            
                  </div>
                </div>

      </section>
      <section id="team">
        <div class="team-info">
          <img src="../static/image/대지 1@4x-8.png" alt="logo" />
          <h2>{ 빡 🔥 코 }</h2>
          <p class="info-1">
            기본에 충실하게, 빡세게 코딩을 배워 코딩을 나의 색깔로 그려갑니다.
          </p>
          <p class="info-2">
            팀 { 빡코 } 는 비전공자 집단으로 한 주간 매일 오전은 각자 공부하는
            시간을 가지고 <br />한명의 낙오자 없이 모든 팀원이 우리 팀 프로젝트
            사이트의 코드를 설명할 수 있게 함께 연구합니다.
          </p>
        </div>
        <div class="team-promise">
          <h2>👉 우리팀의 약속</h2>
          <div class="timetable">
            <p>
              <br />1. 궁금한게 있으면 같이 함께 고민하며 집단지성을 활용합니다.
              <br />2. 본인이 알아낸 답을 공유해서 함께 성장합니다. <br />3.
              최선을 다해 참여합니다.
            </p>
          </div>
        </div>
      </section>
      <div class="section" id="section">
        <input type="radio" name="slide" id="slide01" checked />
        <input type="radio" name="slide" id="slide02" />
        <input type="radio" name="slide" id="slide03" />
        <div class="slidewrap">
          <ul class="slidelist">
            <!-- 슬라이드 영역 -->

            <!-- 좌,우 슬라이드 버튼 -->
            <div class="slide-control">
              <div>
                <label for="slide03" class="left"></label>
                <label for="slide02" class="right"></label>
              </div>
              <div>
                <label for="slide01" class="left"></label>
                <label for="slide03" class="right"></label>
              </div>
              <div>
                <label for="slide02" class="left"></label>
                <label for="slide01" class="right"></label>
              </div>
            </div>
          </ul>
          <!-- 페이징 -->
          <ul class="slide-pagelist">
            <li><label for="slide01"></label></li>
            <li><label for="slide02"></label></li>
            <li><label for="slide03"></label></li>
          </ul>
        </div>
      </div>

      <section id="reaction">
        <div id="form">
          <h2 class="formMent">앞으로 멋진 개발자가 될 우리를 응원해줘.</h2>
          <input
            class="formName"
            id="name"
            type="text"
            placeholder="이름을 입력하세요"
          /><br />
          <select class="formFire" id="fire">
            <option value="" disabled selected>-- 에너지 --</option>
            <option value="5">🔥🔥🔥🔥🔥</option>
            <option value="4">🔥🔥🔥🔥</option>
            <option value="3">🔥🔥🔥</option>
            <option value="2">🔥🔥</option>
            <option value="1">🔥</option></select
          ><br />
          <textarea
            name="comment"
            id="comment"
            class="comment"
            cols="100"
            rows="2"
            placeholder="응원 메시지를 남겨주세요."
          ></textarea
          ><br />
          <input
            onclick="save_form()"
            class="formButton"
            type="submit"
            value="응원하기"
          />
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            <th class="words" scope="col">닉네임</th>
            <th class="words" scope="col">응원 에너지🔥</th>
            <th class="words" scope="col">응원의 말</th>
          </tr>
        </thead>
        <tbody id="comment-show">
          <tr>
            <td>홍길동</td>
            <td>🔥🔥🔥</td>
            <td>코멘트</td>
          </tr>
          <tr>
            <td>임꺽정</td>
            <td>🔥🔥🔥🔥🔥</td>
            <td>코멘트</td>
          </tr>
          <tr>
            <td>세종대왕</td>
            <td>🔥🔥🔥🔥🔥</td>
            <td>코맨트</td>
          </tr>
        </tbody>
      </table>

      <footer>
        <h1>시작은 미미하나, 그 끝은 창대하리라</h1>
        <h4>- 팀 빡코 일동 -</h4>
      </footer>
    </div>
  </body>
</html>
